<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="angularjs/login.js"></script>
</head>
<body ng-app="login" ng-controller="login">
	<div class="row">

			<div class="row">
				<div class="col-md-12">
					Server 3: <label>{{server3}}</label>

				</div>
				<div class="col-md-12">
					value: <label> {{value3}}</label>
				</div>




			</div>

				<div class="row">
					<div class="col-md-12">
						Server 1: <label>{{server1}}</label>

					</div>
					<div class="col-md-12">
						value: <label> {{value1}}</label>
					</div>




				</div>

					<div class="row">
						<div class="col-md-12">
							Server 2: <label>{{server2}}</label>

						</div>
						<div class="col-md-12">
							value: <label> {{value2}}</label>
						</div>




					</div>

	</div>
</body>
</html>